.service-1:hover {
  background-image: url("../../assets/service-1.png");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: top;
}
.service-2:hover {
  background-image: url("../../assets/service-2.png");
  background-size: 220px;
  background-repeat: no-repeat;
  background-position: top;
}

.service-3:hover {
  background-image: url("../../assets/service-3.png");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: bottom 80% right 50%;
}

.service-4:hover {
  background-image: url("../../assets/service-4.png");
  background-size: 220px;
  background-repeat: no-repeat;
  background-position: top;
}

@media (max-width: 600px) {
  .service-1,
  .service-2,
  .service-3,
  .service-4 {
    width: 88vw;
    height: 380px;
    margin-inline: 7vw;
  }

  .services_text {
    font-size: 4vw;
  }
}
